.book-show-cont {
  width: 20vw;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.act-buttons {
  display: flex;
  justify-content: end;
  height: 2rem;
  width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.img-cont {
  width: 100%;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-img {
  max-height: 100%;
  max-width: 90%;
}

.title-cont {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.book-title {
  margin: 0;
  width: 100%;
}
